<<<<<<< HEAD
=======

>>>>>>> bed2e5e9d950598e9f45175f83ed407444ed0bbe
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(241, 245, 241);
<<<<<<< HEAD
}
=======
}
>>>>>>> bed2e5e9d950598e9f45175f83ed407444ed0bbe
